<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DSAPIServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="DSAPIServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demo.docusign.net/api/3.0/dsapi.asmx"
                binding="basicHttpBinding" bindingConfiguration="DSAPIServiceSoap"
                contract="DocuSignService.DSAPIServiceSoap" name="DSAPIServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>